<section class="gradient-form h-full bg-neutral-200 dark:bg-neutral-700">
  <div class="container h-full p-10">
    <div class="flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
      <div class="w-full">
        <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container-->
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <!--Logo-->
                <div class="text-center">
                  <img
                    class="mx-auto w-48"
                    src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    alt="logo" />
                  <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                    Welcome to the LibraryApp
                  </h4>
                </div>

                <%= form_with url: login_path, local: true, class: "space-y-6" do |form| %>
                  <p class="mb-4">Please login to your account</p>

                  <!-- Email input -->
                  <div class="relative mb-4">
                    <%= form.label :email, "Email", class: "block mb-2 text-sm font-medium text-neutral-600 dark:text-neutral-300" %>
                    <%= form.email_field :email, class: "peer block w-full rounded border border-gray-300 bg-transparent px-3 py-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
                  </div>

                  <!-- Password input -->
                  <div class="relative mb-4">
                    <%= form.label :password, "Password", class: "block mb-2 text-sm font-medium text-neutral-600 dark:text-neutral-300" %>
                    <%= form.password_field :password, class: "peer block w-full rounded border border-gray-300 bg-transparent px-3 py-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
                  </div>

                  <!-- Submit button -->
                  <div class="mb-12 pb-1 pt-1 text-center">
                    <%= form.submit 'Log in',
                                    class: "mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-dark-3 transition duration-150 ease-in-out hover:shadow-dark-2 focus:shadow-dark-2 focus:outline-none focus:ring-0 active:shadow-dark-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong",
                                    style: "background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);" %>
                    <%= link_to 'Forgot password?', '#!', class: "text-sm text-blue-500 hover:underline" %>
                  </div>

                  <!-- Register button -->
                  <div class="flex items-center justify-between pb-6">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <%= link_to 'Register', register_path,
                                class: "inline-block rounded border-2 border-danger px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-danger transition duration-150 ease-in-out hover:border-danger-600 hover:bg-danger-50/50 hover:text-danger-600 focus:border-danger-600 focus:bg-danger-50/50 focus:text-danger-600 focus:outline-none focus:ring-0 active:border-danger-700 active:text-danger-700 dark:hover:bg-rose-950 dark:focus:bg-rose-950" %>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- Right column container with background and description-->
            <div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-e-lg lg:rounded-bl-none" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)">
              <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                <h4 class="mb-6 text-xl font-semibold">
                  We are more than just a library
                </h4>
                <p class="text-sm">
                  Welcome to the LibraryApp, where you can find a diverse collection of books and resources to cater to your reading and research needs. Join our community and explore the world of knowledge.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
