<!-- app/views/users/_form.html.erb -->
<section class="gradient-form h-full bg-neutral-200 dark:bg-neutral-700 flex items-center justify-center py-10">
  <div class="container mx-auto">
    <div class="max-w-md mx-auto bg-white dark:bg-neutral-800 rounded-lg shadow-lg p-6">
      <h4 class="mb-6 text-center text-xl font-semibold">Library App Registration</h4>

      <%= form_with(model: @user, local: true) do |form| %>
        <p class="mb-4 text-center">Please register your account</p>

        <% if @user.errors.any? %>
          <div class="mb-4 text-red-600">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="flex space-x-4 mb-4">
          <div class="relative w-1/2">
            <%= form.label :first_name, "First Name", class: "block mb-2 text-sm font-medium text-neutral-600 dark:text-neutral-300" %>
            <%= form.text_field :first_name, class: "peer block w-full rounded border border-gray-300 bg-transparent px-3 py-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
          </div>
          <div class="relative w-1/2">
            <%= form.label :last_name, "Last Name", class: "block mb-2 text-sm font-medium text-neutral-600 dark:text-neutral-300" %>
            <%= form.text_field :last_name, class: "peer block w-full rounded border border-gray-300 bg-transparent px-3 py-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
          </div>
        </div>

        <div class="relative mb-4">
          <%= form.label :phone, "Phone", class: "block mb-2 text-sm font-medium text-neutral-600 dark:text-neutral-300" %>
          <%= form.text_field :phone, class: "peer block w-full rounded border border-gray-300 bg-transparent px-3 py-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
        </div>

        <div class="relative mb-4">
          <%= form.label :email, "Email", class: "block mb-2 text-sm font-medium text-neutral-600 dark:text-neutral-300" %>
          <%= form.text_field :email, class: "peer block w-full rounded border border-gray-300 bg-transparent px-3 py-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
        </div>

        <div class="relative mb-4">
          <%= form.label :password, "Password", class: "block mb-2 text-sm font-medium text-neutral-600 dark:text-neutral-300" %>
          <%= form.password_field :password, class: "peer block w-full rounded border border-gray-300 bg-transparent px-3 py-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
        </div>

        <div class="relative mb-4">
          <%= form.label :password_confirmation, "Confirm Password", class: "block mb-2 text-sm font-medium text-neutral-600 dark:text-neutral-300" %>
          <%= form.password_field :password_confirmation, class: "peer block w-full rounded border border-gray-300 bg-transparent px-3 py-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
        </div>

        <div class="relative mb-4">
          <%= form.label :date_of_birth, "Date of Birth", class: "block mb-2 text-sm font-medium text-neutral-600 dark:text-neutral-300" %>
          <%= form.date_field :date_of_birth, class: "peer block w-full rounded border border-gray-300 bg-transparent px-3 py-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
        </div>

        <div class="mb-12 pb-1 pt-1 text-center">
          <%= form.submit "Register", class: "mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-dark-3 transition duration-150 ease-in-out hover:shadow-dark-2 focus:shadow-dark-2 focus:outline-none focus:ring-0 active:shadow-dark-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong", style: "background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
