<h1 class="text-3xl font-bold mb-4">My Borrowed Books</h1>

<div class="mb-4">
  <%= link_to 'All', dashboard_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mr-2" %>
  <%= link_to 'Not Returned', dashboard_path(filter: 'not_returned'), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" %>
  <%= link_to 'Returned', dashboard_path(filter: 'returned'), class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  <% @borrows.each do |borrow| %>
    <%= render partial: 'books/book_card', locals: { book: borrow.book } %>
  <% end %>
</div>
