<h1 class="text-3xl font-bold mb-4">Edit Profile</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back to Profile', user_path(@user), class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
