<section class="gradient-form h-full bg-neutral-200 dark:bg-neutral-700">
  <div class="container h-full py-6">
    <div class="flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
      <div class="w-full lg:w-10/12 xl:w-8/12">
        <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
          <div class="lg:flex lg:flex-wrap">
            <!-- Left column container-->
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:py-6 md:px-4">
                <!--Logo-->
                <div class="text-center mb-4">
                  <img class="mx-auto w-24" src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" alt="logo" />
                  <h4 class="mt-2 pb-1 text-lg font-semibold">Welcome to LibraryApp</h4>
                </div>

                <%= form_with(model: @user, local: true) do |form| %>
                  <p class="mb-4 text-center text-sm">Please register your account</p>

                  <% if @user.errors.any? %>
                    <div class="mb-4 text-red-600 text-sm">
                      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                      <ul>
                        <% @user.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="flex space-x-4 mb-4">
                    <div class="relative w-1/2" data-twe-input-wrapper-init>
                      <%= form.label :first_name, "First Name", class: "block mb-1 text-xs font-medium text-neutral-600 dark:text-neutral-300" %>
                      <%= form.text_field :first_name, class: "peer block w-full rounded border border-gray-300 bg-transparent px-2 py-2 leading-tight outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
                    </div>
                    <div class="relative w-1/2" data-twe-input-wrapper-init>
                      <%= form.label :last_name, "Last Name", class: "block mb-1 text-xs font-medium text-neutral-600 dark:text-neutral-300" %>
                      <%= form.text_field :last_name, class: "peer block w-full rounded border border-gray-300 bg-transparent px-2 py-2 leading-tight outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
                    </div>
                  </div>

                  <div class="relative mb-3" data-twe-input-wrapper-init>
                    <%= form.label :phone, "Phone", class: "block mb-1 text-xs font-medium text-neutral-600 dark:text-neutral-300" %>
                    <%= form.text_field :phone, class: "peer block w-full rounded border border-gray-300 bg-transparent px-2 py-2 leading-tight outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
                  </div>

                  <div class="relative mb-3" data-twe-input-wrapper-init>
                    <%= form.label :email, "Email", class: "block mb-1 text-xs font-medium text-neutral-600 dark:text-neutral-300" %>
                    <%= form.text_field :email, class: "peer block w-full rounded border border-gray-300 bg-transparent px-2 py-2 leading-tight outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
                  </div>

                  <div class="relative mb-3" data-twe-input-wrapper-init>
                    <%= form.label :password, "Password", class: "block mb-1 text-xs font-medium text-neutral-600 dark:text-neutral-300" %>
                    <%= form.password_field :password, class: "peer block w-full rounded border border-gray-300 bg-transparent px-2 py-2 leading-tight outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
                  </div>

                  <div class="relative mb-3" data-twe-input-wrapper-init>
                    <%= form.label :password_confirmation, "Confirm Password", class: "block mb-1 text-xs font-medium text-neutral-600 dark:text-neutral-300" %>
                    <%= form.password_field :password_confirmation, class: "peer block w-full rounded border border-gray-300 bg-transparent px-2 py-2 leading-tight outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
                  </div>

                  <div class="relative mb-3" data-twe-input-wrapper-init>
                    <%= form.label :date_of_birth, "Date of Birth", class: "block mb-1 text-xs font-medium text-neutral-600 dark:text-neutral-300" %>
                    <%= form.date_field :date_of_birth, class: "peer block w-full rounded border border-gray-300 bg-transparent px-2 py-2 leading-tight outline-none transition-all duration-200 ease-linear focus:border-primary dark:text-white dark:placeholder:text-neutral-300 dark:peer-focus:text-primary" %>
                  </div>

                  <div class="mb-8 pb-1 pt-1 text-center">
                    <%= form.submit "Register", class: "inline-block w-full rounded px-4 pb-1.5 pt-2 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg", style: "background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);" %>
                  </div>
                <% end %>

                <div class="flex items-center justify-between pb-4">
                  <p class="mb-0 me-2 text-xs">Already have an account?</p>
                  <%= link_to 'Login', login_path, class: "inline-block rounded border-2 border-danger px-4 pb-1 pt-1 text-xs font-medium uppercase leading-tight text-danger transition duration-150 ease-in-out hover:border-danger-600 hover:bg-danger-50/50 hover:text-danger-600 focus:border-danger-600 focus:bg-danger-50/50 focus:text-danger-600 focus:outline-none focus:ring-0 active:border-danger-700 active:text-danger-700 dark:hover:bg-rose-950 dark:focus:bg-rose-950" %>
                </div>
              </div>
            </div>

            <!-- Right column container with background and description-->
            <div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-e-lg lg:rounded-bl-none" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)">
              <div class="px-4 py-6 text-white md:mx-6 md:p-6">
                <h4 class="mb-4 text-lg font-semibold">
                  We are more than just a library
                </h4>
                <p class="text-xs">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
