<!-- app/views/users/show.html.erb -->
<section class="gradient-form h-full bg-neutral-200 dark:bg-neutral-700">
  <div class="container h-full p-10">
    <div class="flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
      <div class="w-full max-w-3xl">
        <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
          <div class="g-0 lg:flex lg:flex-wrap">
            <!-- Left column container-->
            <div class="px-4 md:px-0 lg:w-full">
              <div class="md:mx-6 md:p-12">
                <!--User Profile-->
                <div class="text-center">
                  <img
                    class="mx-auto w-24 h-24 rounded-full"
                    src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    alt="profile picture" />
                  <h4 class="mb-4 mt-1 pb-1 text-2xl font-semibold">
                    <%= @user.first_name %> <%= @user.last_name %>
                  </h4>
                </div>

                <div class="mb-4">
                  <p><strong>Email:</strong> <%= @user.email %></p>
                  <p><strong>Phone:</strong> <%= @user.phone %></p>
                  <p><strong>Address:</strong> <%= @user.address %></p>
                  <p><strong>Date of Birth:</strong> <%= @user.date_of_birth %></p>
                  <p><strong>Membership Type:</strong> <%= @user.membership_type %></p>
                  <p><strong>Membership Expiry Date:</strong> <%= @user.membership_expiry_date %></p>
                </div>

                <div class="flex justify-between">
                  <%= link_to 'Edit Profile', edit_user_path(@user), class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" %>
                  <%= button_to 'Delete Account', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
                </div>
              </div>
            </div>

            <!-- Right column container with background and description-->
            <div class="flex items-center rounded-b-lg lg:w-full lg:rounded-e-lg lg:rounded-bl-none" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)">
              <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                <h4 class="mb-6 text-xl font-semibold">
                  We are more than just a library
                </h4>
                <p class="text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
