<!-- app/views/books/_book_card.html.erb -->
<div class="w-full p-4">
  <%= link_to book_path(book), class: "block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden" do %>
    <div class="relative pb-48 overflow-hidden">
      <!-- Utilisation du titre du livre pour générer une URL unique pour chaque livre -->
      <img class="absolute inset-0 h-full w-full object-cover" src="https://source.unsplash.com/featured/?<%= ERB::Util.url_encode(book.title) %>" alt="<%= book.title %>">
    </div>
    <div class="p-4">
      <span class="inline-block px-2 py-1 leading-none bg-orange-200 text-orange-800 rounded-full font-semibold uppercase tracking-wide text-xs">New</span>
      <h2 class="mt-2 mb-2 font-bold"><%= book.title %></h2>
      <p class="text-sm"><%= book.author %></p>
      <div class="mt-3 flex items-center">
        <span class="text-sm font-semibold">Published Year:</span>&nbsp;<span class="font-bold text-xl"><%= book.publish_year %></span>
      </div>
    </div>
    <div class="p-4 border-t border-b text-xs text-gray-700">
      <span class="flex items-center mb-1">
        <i class="far fa-clock fa-fw mr-2 text-gray-900"></i> <%= book.available? ? "Available" : "Not Available" %>
      </span>
      <% if !book.available? %>
        <span class="flex items-center">
          <i class="far fa-user fa-fw mr-2 text-gray-900"></i> Borrowed by <%= book.current_borrow.user.full_name %>
        </span>
        <span class="flex items-center">
          <i class="far fa-calendar fa-fw mr-2 text-gray-900"></i> Due Date: <%= book.current_borrow.ended_at || "Not specified" %>
        </span>
      <% end %>
    </div>
  <% end %>
  <% if !book.available? && book.current_borrow.user == current_user %>
    <div class="p-4 text-sm text-gray-600">
      <%= button_to 'Return Book', borrow_path(book.current_borrow), method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2" %>
    </div>
  <% end %>
</div>
