<!-- app/views/books/history.html.erb -->

<h1 class="text-3xl font-bold mb-4">Borrow History for <%= @book.title %></h1>

<table class="min-w-full bg-white">
  <thead>
  <tr>
    <th class="py-2 px-4 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase">Borrower</th>
    <th class="py-2 px-4 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase">Start Date</th>
    <th class="py-2 px-4 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase">End Date</th>
  </tr>
  </thead>
  <tbody>
  <% @borrows.each do |borrow| %>
    <tr>
      <td class="py-2 px-4 border-b border-gray-200"><%= borrow.user.full_name %></td>
      <td class="py-2 px-4 border-b border-gray-200"><%= borrow.started_at.strftime("%B %d, %Y") %></td>
      <td class="py-2 px-4 border-b border-gray-200"><%= borrow.ended_at ? borrow.ended_at.strftime("%B %d, %Y") : "Currently borrowed" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
