<!-- app/views/books/index.html.erb -->
<h1 class="text-3xl font-bold mb-4">Books</h1>

<%= form_with url: books_path, method: :get, local: true, class: "mb-4" do |form| %>
  <div class="flex">
    <%= form.text_field :query, placeholder: "Search by title, author, or keyword", class: "w-full p-2 rounded-l border border-gray-300" %>
    <%= form.submit "Search", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r" %>
  </div>
<% end %>

<%= link_to 'Add New Book', new_book_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 inline-block" %>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  <% @books.each do |book| %>
    <div class="block book-card">
      <%= link_to book_path(book) do %>
        <%= render partial: 'books/book_card', locals: { book: book } %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="mt-6">
  <%= will_paginate @books %>
</div>
