<!-- app/views/books/show.html.erb -->
<div class="max-w-2xl mx-auto p-4">
  <div class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">
    <div class="relative pb-48 overflow-hidden">
      <img class="absolute inset-0 h-full w-full object-cover" src="https://source.unsplash.com/random/300x300" alt="<%= @book.title %>">
    </div>
    <div class="p-4">
      <h2 class="mt-2 mb-2 font-bold text-2xl"><%= @book.title %></h2>
      <p class="text-lg"><%= @book.author %></p>
      <div class="mt-3 flex items-center">
        <span class="text-lg font-semibold">Published Year:</span>&nbsp;<span class="font-bold text-2xl"><%= @book.publish_year %></span>
      </div>
    </div>
    <div class="p-4 border-t border-b text-lg text-gray-700">
      <span class="flex items-center mb-4">
        <i class="far fa-clock fa-fw mr-4 text-gray-900"></i> <%= @book.available? ? "Available" : "Not Available" %>
      </span>
      <% if !@book.available? %>
        <span class="flex items-center">
          <i class="far fa-user fa-fw mr-4 text-gray-900"></i> Borrowed by <%= @book.current_borrow.user.full_name %>
        </span>
        <span class="flex items-center">
          <i class="far fa-calendar fa-fw mr-4 text-gray-900"></i> Due Date: <%= @book.current_borrow.ended_at || "Not specified" %>
        </span>
      <% end %>
    </div>
    <% if @book.available? %>
      <div class="p-4 flex items-center text-lg text-gray-600">
        <%= form_with url: borrows_path, method: :post, local: true do %>
          <%= hidden_field_tag :book_id, @book.id %>
          <%= submit_tag 'Borrow', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded ml-4" %>
        <% end %>
      </div>
    <% else %>
      <% if @book.current_borrow.user == current_user %>
        <div class="p-4 flex items-center text-lg text-gray-600">
          <%= button_to 'Return Book', borrow_path(@book.current_borrow), method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-4 px-8 rounded ml-4" %>
        </div>
      <% else %>
        <div class="p-4 text-lg text-gray-600">
          <span>Currently unavailable</span>
        </div>
      <% end %>
    <% end %>
    <div class="p-4 flex justify-between items-center text-lg text-gray-600">
      <%= link_to 'Edit', edit_book_path(@book), class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" %>
      <%= button_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
    <div class="p-4 text-lg text-gray-600">
      <%= link_to 'Borrow History', history_book_path(@book), class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  </div>
</div>
