/* app/assets/stylesheets/pagination.css */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.pagination a, .pagination span {
    padding: 0.5rem 0.75rem;
    margin: 0 0.25rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #333;
    background-color: #fff;
}

.pagination a:hover, .pagination a:focus {
    background-color: #f8f9fa;
    border-color: #ddd;
}

.pagination .current {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}
