<div id="<%= dom_id borrow %>">
  <p>
    <strong>User:</strong>
    <%= borrow.user_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= borrow.book_id %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= borrow.started_at %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= borrow.ended_at %>
  </p>

</div>
